.seecar {
  padding: 5rem 0;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: "liga";
  -moz-osx-font-smoothing: grayscale;
}

.middle-indicator {
  position: absolute;
  top: 50%;
}

.middle-indicator-text {
  font-size: 2rem;
}

a.middle-indicator-text {
  color: white !important;
}

.content-indicator {
  width: 64px;
  height: 64px;
  background: var(--sec-color);
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}

.indicators {
  visibility: visible;
  color: var(--pry-color);
  background-color: blueviolet;
}
/* .carousel-fixed-item {
  position: unset;
} */

#car-options {
  position: relative;
  padding: 40px 0;
}
/* section#car-options:before {
  border-radius: 100% 100% 0 0;
  position: absolute;
  background: white;
  bottom: -20px;
  right: -200px;
  left: -200px;
  content: '';
  top: -70px;
  z-index: 0;
  height: 250px;
} */

#car-options .carousel.carousel-slider .carousel-item {
  padding-top: 0;
}
#car-options .carousel.carousel-slider {
  min-height: 550px;
}
.cars-options-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 30px;
  margin-top: 30px;
}
.slider-navigation {
  width: 100%;
  margin: 20px 0;
}
.slider-nav-btn {
  background-color: var(--pry-color);
  border: none;
  cursor: pointer;
  padding: 8px 16px;
}
.slider-nav-btn img {
  width: 20px;
}
@media (max-width: 992px) {
  #car-options .carousel.carousel-slider {
    min-height: 400px;
  }
}
@media (max-width: 600px) {
  .cars-options-wrapper {
    grid-template-columns: 100%;
  }
}
