:root {
  --pry-color: #1c394d;
  --sec-color: #00eab1;
  --mainGrey: #e5e5e5;
  --darkGrey: #494949;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainSpacing: 0.2rem;
  --lineHeight: 1.4;
  --mediumFont: 5.5rem;
  --main-shadow: 1px 4px 4px rgba(0, 0, 0, 0.04);

  /* --font: "lato", sans-serif;
  --font-bold: "lato-bold", sans-serif;
  --font-lite: "lato-light", sans-serif;
  --font-xlite: "lato-hairline", sans-serif;
  --font-smbold: "lato-semibold", sans-serif;
  --font-xbold: "trueno-extrabold", sans-serif; */

  /* --font: "inter", sans-serif;
  --font-bold: "inter-bold", sans-serif;
  --font-lite: "inter-light", sans-serif;
  --font-xlite: "inter-extralight", sans-serif;
  --font-smbold: "inter-semibold", sans-serif;
  --font-xbold: "inter-extrabold", sans-serif;

  --sec-font: "roboto", sans-serif;
  --sec-font-bold: "roboto-bold", sans-serif;
  --sec-font-light: "roboto-light", sans-serif;
  --sec-font-thin: "roboto-thin", sans-serif; */
  /* 
  width: 100%;
  overflow: hidden; */
}

/* Lato Font */
@font-face {
  font-family: "lato";
  src: local("lato"), url("./fonts/lato/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "lato-light";
  src: local("lato"), url("./fonts/lato/Lato-Light.ttf") format("truetype");
}
@font-face {
  font-family: "trueno-hairline";
  src: local("lato"), url("./fonts/lato/Lato-Hairline.ttf") format("truetype");
}
@font-face {
  font-family: "lato-semibold";
  src: local("lato"), url("./fonts/lato/Lato-Semibold.ttf") format("truetype");
}
@font-face {
  font-family: "lato-bold";
  src: local("lato"), url("./fonts/lato/Lato-Bold.ttf") format("truetype");
}

/* Roboto Font */
@font-face {
  font-family: "roboto";
  src: local("roboto"),
    url("./fonts/roboto/Roboto-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-light";
  src: local("roboto"),
    url("./fonts/roboto/Roboto-Light.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-thin";
  src: local("roboto"), url("./fonts/roboto/Roboto-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "roboto-bold";
  src: local("roboto"), url("./fonts/roboto/Roboto-Bold.ttf") format("truetype");
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--pry-color);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(6, 31, 53, 0.7);
}

body {
  font-family: lato;
  background: var(--mainWhite);
  overflow-x: hidden;
  color: var(--mainBlack);
  height: auto;
  min-height: 100vh;
  width: 100%;
  /* font-size: 1.6rem; */
}

h1,
h2,
h3,
h4 {
  font-family: roboto-bold;
  letter-spacing: -2px;
}
/* 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.smbold-txt {
  font-family: var(--font-smbold);
}
.bold-txt {
  font-family: var(--font-bold);
}
.xbold-txt {
  font-family: var(--font-xbold);
}
.lite-txt {
  font-family: var(--font-lite);
}
.xlite-txt {
  font-family: var(--font-xlite);
}
.pry-font {
  font-family: var(--pry-font);
}

.pry-color {
  color: var(--pry-color);
}
.sec-color {
  color: var(--sec-color);
}
.pry-bg {
  background-color: var(--pry-color);
  color: white;
}
.sec-bg {
  background-color: var(--sec-color);
  color: white;
}
.white-bg {
  background-color: white;
  color: black;
}
.white-txt {
  color: white !important;
}
.black-txt {
  color: black !important;
}
.black-bg {
  background-color: black;
  color: white;
}
.sm-black-bg {
  background-color: #1c1c1c;
  color: white;
}

.pad0 {
  padding: 0 !important;
}
.hidden {
  display: none;
}
.rel {
  position: relative;
}
.abs {
  position: absolute;
}
.text-justify {
  text-align: justify;
}
.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.hidden-xs {
  display: block;
}
.visible-xs {
  display: none;
}
.flex-div {
  display: flex;
}
.mag-0 {
  margin: 0 !important;
}
.mag-bottom-0 {
  margin-bottom: 0 !important;
}
.mag-top-0 {
  margin-top: 0 !important;
}
.fg-1 {
  flex-grow: 1;
}
.flex-wrap {
  flex-wrap: wrap;
}

@media (min-width: 993px) {
  .container {
    width: 80% !important;
  }
}

@media (max-width: 600px) {
  .hidden-xs {
    display: none !important;
  }
  .visible-xs {
    display: block !important;
  }
}
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
